@font-face {
  font-family: "Work Sans";
  src: url("../../assets/fonts/static/WorkSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../../assets/fonts/static/WorkSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("../../assets/fonts/static/WorkSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 140%;
}

.text-preset-1 {
  font-size: var(--fs-400);
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 0;
}

.text-preset-2 {
  font-size: var(--fs-200);
  font-weight: 600;
  line-height: 2.1rem;
  letter-spacing: 0;
}

.text-preset-3 {
  font-size: var(--fs-100);
  font-weight: 400;
  line-height: 2.4rem;
  letter-spacing: 0;
}

@media (min-width: 768px) {
  :root {
    --fs-100: 1.6rem;
    --fs-200: 1.8rem;
    --fs-400: 3.4rem;
  }
}
